.brand-font {
    font-family: 'Branded Hand', cursive;
    color: #93a112;
}

.container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}


.ms-xl-4 {
    margin-top: 90px;
    margin-left: 0rem !important;
}
@media (max-width: 600px) {

    .px-5 header {
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .h-custom-2 {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
    .ms-xl-4 {
        margin-top: 90px;
        margin-left: 0rem !important;
    }
}

.vh-100-img {
    max-height: 100vh !important;
    object-fit: cover;
    object-position: left;
}

.h-100-custom {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 23rem;
    margin-top: 5rem !important;
}

.header-logo {
    margin-top: 8rem; /* Adjust this value to set the desired top margin */
}

.header-logo .brand-font {
    display: block;
    margin-bottom: 2rem; /* Adjust this value to set the desired bottom margin */
}

.login-header {
    margin-top: 1rem; /* Adjust this value to set the desired top margin */
}
